<tr>
  <td>{{time}}</td>
  {{#event}}
  <td>{{path}}</td>
  <td>
  <table>
    {{#parameters}}
    <tr>
      <td>{{name}}:</td>
      <td>{{value}}</td>
    </tr>
    {{/parameters}}
  </table>
  </td>
  {{/event}}
  <td>
  {{#triggeredWorkers}}
  <table>
    <tr>
      <td>{{worker}}</td>
      <td>
      <table>
        {{#parameters}}
        <tr>
          <td>{{name}}:</td>
          <td>{{value}}</td>
        </tr>
        {{/parameters}}
      </table>
      </td>
    </tr>
  </table>
  {{/triggeredWorkers}}
  </td>
</tr>
